@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
.box{
    width: 500px;
    height: 325px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -200px;
    margin-left: -250px;
}

.dialog {
    font-family: "Gochi Hand";
    font-size: 20px;
    color: #F25F5C;
}